<!DOCTYPE html>
<html>
  <head>
    <title>Canary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="/javascripts/jquery-3.3.1.slim.min.js" integrity="sha256-o3xvfVoAnalAlD3CPebt5QWZ3yLdooNGruu0ZJvZy0U=" crossorigin="anonymous"></script>
    <script src="/javascripts/popper-1.14.7.min.js" integrity="sha256-ce98Ftddp1pdQX33XtchRLxexlqcBCm33uCYitw+jSk=" crossorigin="anonymous"></script>
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body class="{{ bodyClass }}">
    {% include 'navbar.twig' %}
    {% block body %}{% endblock %}
  </body>
</html>
