<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Canary</a>
    <div class="btn-group">
        <button class="btn btn-outline-light fas fa-sign-in-alt"></button>
        <button class="btn btn-light fas fa-user-plus"></button>
    </div>
</nav>